
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{{url_for('static', filename='/static_app/js/jquery.min.js')}}"></script>
      <script src="{{url_for('static', filename='/static_app/js/popper.min.js')}}"></script>
      <script src="{{url_for('static', filename='/static_app/js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{url_for('static', filename='/static_app/js/jquery-3.0.0.min.js')}}"></script>
      <script src="{{url_for('static', filename='/static_app/js/plugin.js')}}"></script>
      <!-- sidebar -->
      <script src="{{url_for('static', filename='/static_app/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
      <script src="{{url_for('static', filename='/static_app/js/custom.js')}}"></script>
      <!-- javascript -->
      <script src="{{url_for('static', filename='/static_app/js/owl.carousel.js')}}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>